@import "tailwindcss";

@font-face {
  font-family: PublicaPlay;
  src: url('../assets/fonts/publicaplay-bold.otf') format("opentype");
}

@font-face {
  font-family: RobotoCondensed-SemiBold;
  src: url('../assets/fonts/RobotoCondensedSemiBold.ttf') format("opentype");
}

@theme inline {
  --font-publica: PublicaPlay;
  --font-roboto-semi-bold: RobotoCondensed-SemiBold;
}