@import "tailwindcss";

@font-face {
  font-family: Brayles;
  src: url('../assets/fonts/Brayles.ttf') format("truetype");
}

@font-face {
  font-family: PublicaPlay;
  src: url('../assets/fonts/publicaplay-bold.otf') format("opentype");
}

@theme inline {
  --font-brayles: Brayles;
  --font-publica: PublicaPlay;
  --font-sans: Brayles, sans-serif;
}